.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(54, 65, 71, 0.9);
}

.backdrop .modal-container {
  width: 68%;

  display: flex;
  flex-direction: column;

  background-color: #E2E4E1;
  box-shadow: 0px 0px 23px 8px rgba(0, 0, 0, 0.4);

  padding: 25px;
}

.backdrop .modal-container h1 {
  font-weight: normal;
  font-size: 3.1rem;
  text-align: start;
  color: #364147;

  margin-bottom: 50px;
}

.backdrop .modal-container form {
  display: flex;
  flex-wrap: wrap;
}

.backdrop .modal-container form input, 
.backdrop .modal-container form textarea, 
.backdrop .modal-container form label, 
.backdrop .modal-container form span {
  font-size: 1.4rem;
}

.form-footer {
  width: 100%;

  display: flex;
  justify-content: flex-end;

  margin-top: 50px;
}

.form-footer button {
  all: unset;
  cursor: pointer;

  width: 150px;
  height: 4.8rem;

  font-size: 2rem;
  color: #EEEFED;
  background-color: #45535A;

  margin-left: 10px;
}